<div class="container">

  <div class="cont-title">
    <h2>Available Events to Play</h2>
    {{fecha}}
  </div>

  <div class="cards-container">
    {{#each events}}
    <div class="card2">
      {{>eventCardBooking }}
    </div>

    {{/each}}
  </div>
</div>



{{#if errorMessage}}
<div class='error-message'>{{ errorMessage }}</div>
{{/if}}