<h1>formulario crear evento</h1>

<form action="/" method="post">
  <label for="name">bandName:</label><br>
  <input type="text" placeholder="bandName"><br>
  <label for="date">Fecha:</label><br>
  <input type="text" placeholder="fecha">

  <button type="submit"> create event</button>
</form>
<div>
</div>

{{#if errorMessage}}
<div class='error-message'>{{ errorMessage }}</div>
{{/if}}