<h2>Details of the event:</h2>
<ul>
    <li>{{ events.description }}</li>
    <li>Duración del evento: {{events.durationMins}}min</li>
    <li>Precio: {{events.price}}€</li>
    <li>Fecha: {{events.schedule}}</li>
</ul>