<div class="container">
  <div class="form-style">
    <form class="auth" action="/auth/login" method="POST">
      <label for="email"></label>
      <input type="email" name="email" placeholder="Your email" required>

      <label for="password"></label>
      <input type="password" name="password" placeholder="********" required>
      <div id="new-register">
        <p> ¿New to OkeyTo Play? <a href="/auth/signup"> &nbsp Register Now >></a></p>
      </div>
      <button type="submit">log in</button>

      {{#if error }}
      {{ error }}
      {{/if }}
    </form>
  </div>
</div>