<div class="container">
  <div class="form-style">
    <form class="auth" action="/auth/login" method="POST">
      <label for="email"></label>
      <input type="email" name="email" placeholder="Your email" required>

      <label for="password"></label>
      <input type="password" name="password" placeholder="********" required>

      <button type="submit">log in</button>
      <p>Don't have an account? <a href="/auth/signup"><span>Sign up</span></a></p>
      {{#if error }}
      {{ error }}
      {{/if }}
    </form>
  </div>
</div>