@import '../mixins/home';
@import '../mixins/navbar';
@import '../mixins/eventcard';
@import '../mixins/footer';
@import '../mixins/login';
// @import '../mixins/signup';
@import '../mixins/editProfile';
@import '../mixins/newevent';
@import '../mixins/user';
// General Attributes
* body {
  margin: 0;
  height: 100%;
  color: #412e2a;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}
.container {
  padding: 5%;
}
.not-shown {
  display: none;
}
// img {
//   height: 250px;
// }
.mobile-container {
  box-sizing: border-box;
}
.backbutton {
  bottom: 45px;
  position: sticky;
  background-color: purple;
  border-radius: 20%;
  padding: 5px;
  color: white;
  float: left;
}
.bbtn {
  margin: 10%;
  width: 80%;
  border: 0;
  background-color: #53cace;
  border-radius: 5px;
  text-transform: uppercase;
  color: white;
}
footer {
  bottom: 0;
  position: fixed;
  background-color: #67676f;
  color: white;
  width: 100%;
}
