@import '../mixins/home';
@import '../mixins/navbar';
@import '../mixins/eventcard';
@import '../mixins/footer';
@import '../mixins/login';
// @import '../mixins/signup';
@import '../mixins/editProfile';
@import '../mixins/newevent';
@import '../mixins/backButton';
@import '../mixins/bands';
@import '../mixins/errorPage';
@import '../mixins/user';
@import '../mixins/avatarUpload';
@import '../mixins/establishments';
@import '../mixins/petitions';

// General Attributes

body {
  margin: 0;
  // height: 100%;
  color: #412e2a;
  // background-color: #f9f9f9;
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
}
.container {
  padding: 5%;
}
.not-shown {
  display: none;
}

#mobile-container {
  // box-sizing: border-box;
  position: relative;
  min-height: 100vh;
  // min-height: 100%;
}

.bbtn {
  margin: 10%;
  width: 80%;
  border: 0;
  background-color: #53cace;
  border-radius: 5px;
  text-transform: uppercase;
  color: white;
}
footer {
  // bottom: 0;
  // position: fixed;
  background-color: #67676f;
  color: white;
  // width: 100%;
}
h1 {
  font-size: 45px;
}
h2 {
  font-size: 22px;
  // font-family: 'Quicksand', sans-serif;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
