<div class="info-band-profile">
  <div class="band-profile-image">
    <img class="event-card-img" src="/images/default-img-events.png" alt="default Event Image">
  </div>
  <div class="band-profile-description">
    {{this.name}}
    <div class="bttn-join">
      <button>JOIN</button>
    </div>
  </div>
</div>