<div class="band-cards-container">
  <div class="band-cards">
    <img class="logo-band-min" src="{{this.avatar}}" alt="band-avatar">
    <h3>{{this.name}}</h3>
    <p>{{this.description}}</p>
    <ul><li></li></ul>
    <a class="btn-band-details" href="/bands/{{this._id}}">Band Details</a>
  </div>
</div>