<div class="cards-container">
  <div class="user-name">{{userFound.username}}, Your events with BAND:</div>
  <div class="fecha">{{fecha}}</div>
  <ul class="event-list-bookings">

    <p>name:{{this.name}}</p>
    <p>desc:{{this.description}}</p>



  </ul>
  <p>partial</p>
</div>