<div class="cards-container">
  <div class="card2">
    <div>

    </div>
    <div>
      <ul class="event-list-bookings">
        {{#each events}}
        <li>{{this.name}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
<div class="fecha">{{fecha}}</div>
<div class="user-name">{{userFound.username}}, Your events with BAND:</div>

<p>booking partial</p>