<div class="fecha">{{fecha}}</div>
<div class="user-name">{{userFound.username}}, Your events with BAND:</div>
<ul class="event-list-bookings">
  {{#each events}}
  <li>{{this.name}}</li>
  {{/each}}
</ul>
<p>booking partial</p>