<header>
  <h6 id="logo">
    <a href="/"><img src="/images/logo-campusMVP.png" /></a>
  </h6>

  <nav id="navigation">
    <div class="control-menu">
      <a href="#navigation" class="open"><span>MENU</span></a>
      <a href="#" class="close"><span>CERRAR</span></a>
    </div>

    <ul class="nav-items">
      <li class="style-span">
        <a href="/user"> <span>User</span></a>
      </li>
      <li class="style-span">
        <a href="/user/profile"><span>Edit Profile</span></a>
      </li>
      <li class="style-span">
        <a href="/bands"><span>Bands List</span></a>
      </li>
      <li class="style-span">
        <a href="/establishments"><span>Establishment List</span></a>
      </li>
      <li class="style-span">
        <a href="/logout"><span>LOGOUT</span></a>
      </li>
    </ul>
  </nav>
</header>