<header>
  {{!-- <h1 id="logo"><img src="img/logo-campusMVP.png" /></h1> --}}


  {{!-- <a id="navbar-logo" href="/"></a> --}}

  <nav id="navigation">
    <a href="/"><img src="/images/logo.png" alt="" style="height: 29px"></a>
    <a href="/user"><img src="/images/perfil.png" alt="" style="height: 29px"></a>
    <a href="/user/profile"><img src="/images/edit.png" alt="" style="height: 29px"></a>

    <div class="control-menu">
      <a href="#navigation" class="open"><span>MENU</span></a>
      <a href="#" class="close"><span>CERRAR</span></a>
    </div>

    <ul class="nav-items">
      <li>
        <a href="/user/events/bookedevents"> <span>Booked Events</span></a>
      </li>
      <li id="Mobile">
        <a href="/bands"><span>Bands Profile</span></a>
      </li>
      <li>
        <a href="/establishments"><span>Pub's Profile</span></a>
      </li>
      <li id="Mobile">
        <a href="/logout"><span>LOGOUT</span></a>
      </li>
      {{!-- <li id="SharePoint">
        <a href="#Todo sobre Sharepoint"><span>Todo sobre Sharepoint</span></a>
      </li> --}}
    </ul>
  </nav>
</header>