<div class="establishment-cards-container">
  <div class="establishment-cards">
    <h3>{{this.name}}</h3>
    <p>{{this.description}}</p>
    <a class="btn-establishment-details" href="/establishments/{{this._id}}">Establishments Details</a>
  </div>
</div>