<div class="cards-container">

  <div class="card">
    <img class="card-Band-img-top" src="../images/default-img-events.png" alt="Card image cap">

    <div class="card-body">
      <h5 class="card-title">{{this.name}}</h5>
      <p class="card-text">Band: {{band.name}}</p>
      <button onclick="location.href='events/{{_id}}'" type="button" class="register-button">See More</button>
      {{!-- <a href="events/{{_id}}"> --}}
    </div>
  </div>
</div>