<div class="cards-container">
  <div class="card2">
    <div>
      <img class="card-Band-img-top" src="../images/default-img-events.png" alt="Card image cap">
    </div>
    <div class="">
      <h5 class="">{{this.name}}</h5>
      <p class="">Band: {{band.name}}</p>
      <button onclick="location.href='events/{{_id}}'" type="button" class="bttn">See More</button>
    </div>
  </div>


</div>