<div class="profile-cont">

  <div class="box-sup">
    <div class="box-info">
      <i>Your Establishment is:<br> </i>
      <h3>{{user.establishment.name}}</h3>
    </div>
    <div class="img-profile">
      <img src="/images/local.png" alt="">
    </div>
  </div>

  <div class="box-inf">
    <div class="wrapper-box">
      <div class="prrofile-btn">
        <a href="/user/events">Manage You Events</a>
      </div>
      <div class="prrofile-btn">
        <a href="/user/profile/edit-establishment">Update</a>
        <a href="/user/profile/edit-establishment-avatar">Upload</a>
      </div>
      <div class="prrofile-btn">
      </div>
    </div>
    <div class="prrofile-btn delete-profile">
      <a href="/user/profile/delete-establishment">Delete </a>
    </div>
  </div>

</div>