<div class="profile-cont">

  <div class="box-sup">
    <div class="box-info">
      <i>Your band is: <br></i>
      <h3>{{user.band.name}}</h3>
    </div>
    <div class="img-profile">
      <img src="/images/band.png" alt="">
    </div>
  </div>

  <div class="box-inf">
    <div>
      <a href="/user/profile/edit-band">Update</a>
    </div>
    <div>
      <a href="/user/profile/edit-band-avatar">Upload</a>
    </div>
    <div class="delete-profile">
      <a href="/user/profile/delete-band">Delete</a>
    </div>
  </div>

</div>