<div class="container">
  <div class="cont-title">
    <h2>Create Establishment</h2>
  </div>

  <div class="form-style">
    <form id='profile-form' action='/establishments/new' method='POST'>
      <div id='Establishment-form-profile'>
        <label for='establishment'></label><br>
        <input type='text' name='name' placeholder='Establishment Name:'><br>
        <label for='establishment'></label><br>
        <input type='text' name='description' placeholder='Description:'><br>
        <label for='establishment'></label><br>
        <input type='text' name='street' placeholder='Street:'><br>
        <label for='establishment'></label><br>
        <input type='text' name='city' placeholder='City:'><br>
        <label for='establishment'></label><br>
        <input type='text' name='zip' placeholder='ZIP:'><br>
        <label for='establishment'></label><br>
        <input type='text' name='capacity' placeholder='Capacity:'><br>
        <label for='establishment'></label><br>
        <input type='text' name='website' placeholder='Website:'><br>
        <label for='establishment'></label><br>
        <input type='text' name='instagramProfile' placeholder='Instagram:'><br>
        <label for='Instagram'></label><br>
        <input type='text' name='facebookProfile' placeholder='Facebook:'><br>
        <label for='establishment'></label><br>
        <input type='text' name='avatar' placeholder='Avatar Image'><br>
      </div>
      <button type='submit'>Create Establishment</button>
    </form>
  </div>
</div>






</div>
{{#if errorMessage}}
<div class='error-message'>{{ errorMessage }}</div>
{{/if}}