<div class="container">
  <div class="cont-title">
    <h2>Create Establishment</h2>
  </div>

  <div class="form-style">
    <form id='profile-form' action='/establishments/new' method='POST'>
      <div id='Establishment-form-profile'>
        <label for='establishment'></label>
        <input type='text' name='name' placeholder='Establishment Name:'>
        <label for='establishment'></label>
        <input type='text' name='description' placeholder='Description:'>
        <label for='establishment'></label>
        <input type='text' name='street' placeholder='Street:'>
        <label for='establishment'></label>
        <input type='text' name='city' placeholder='City:'>
        <label for='establishment'></label>
        <input type='text' name='zip' placeholder='ZIP:'>
        <label for='establishment'></label>
        <input type='text' name='capacity' placeholder='Capacity:'>
        <label for='establishment'></label>
        <input type='text' name='website' placeholder='Website:'>
        <label for='establishment'></label>
        <input type='text' name='instagramProfile' placeholder='Instagram:'>
        <label for='Instagram'></label>
        <input type='text' name='facebookProfile' placeholder='Facebook:'>
        <label for='establishment'></label>
        <input type='text' name='avatar' placeholder='Avatar Image'>
      </div>
      <button type='submit'>Create</button>
    </form>
  </div>
</div>






</div>
{{#if errorMessage}}
<div class='error-message'>{{ errorMessage }}</div>
{{/if}}