<div class="bands-container">
    {{#if userFound.band.name}}
    <div class="note-bandmembers">
        <p>*If you want to join another band, you should abandon the current one <a href="/user/profile">here</a></p>
    </div>
    {{else}}
    <div class="create-band">
        <p>{{userFound.username}}, do you want to register your band?:</p>
        <a class="create-band-btn" href="/bands/new">Create Band</a>
        <p>Is your band already registered? <br>
            Send them a petition!</p>
    </div>
    {{/if}}
    <div class="bandslist">
        <h2>List of registered bands:</h2>
        <section class="bands-section">
            <div class="band-cards">
                {{#each bands}}
                {{> bandJoin this}}
                {{/each}}
            </div>
        </section>
    </div>
</div>