<div class="container">

    <div class="cards-container">
        <div class="band-option">
            {{#if userFound.band.name}}
            <i>If you want to join another band before you should leave the current one</i></br>
            <a href="/user/profile">Profile</a>
            {{else}}
            <i>If you haven't created your band, click below</i>
            <a href="/bands/new">Create Band</a>
            {{/if}}

            <a href="/bands/avatar/avatar-upload">Avatar Upload</a>
        </div>

        <div class="search-option">
            <form action="/bands/:id" method="get" class="form-inline">
                <div class="form-group">
                    <input type="text" name="search" placeholder="Band search..." class="form-control">
                    <input type="submit" value="Search" class="btn btn-default">
                </div>
            </form>
        </div>



        {{!-- <h3>Basic View</h3> --}}


        <div class="cont-title">
            <h3>BAND LIST</h3>
        </div>

        <div class="cards-container">
            {{#each bands}}
            {{> bandJoin this}}
            {{/each}}
        </div>
    </div>


</div>