<div class="bands-container">
    {{#if userFound.band.name}}
    <div class="note-bandmembers">
        <p>*If you want to join another band, you should abandon the current one <a href="/user/profile">here</a></p>
    </div>
    {{else}}
    <div class="create-band">
        <p><span>{{userFound.username}}</span>, do you want to register your band?</p>
        <a class="btn-band-details" href="/bands/new">Create Band</a>
    </div>
    {{/if}}
    <div class="bandslist">
        <h2>List of registered bands:</h2>
        <section class="bands-section">
            {{#each bands}}
            {{> bandJoin this}}
            {{/each}}
        </section>
    </div>


</div>