<h2>Here's a list with all our Establishment:</h2>
<ul>
    {{#each establishments}}
    <div class="establishment-card">
        <p><a href="establishments/{{_id}}">Establishment description: {{description}}</a></p>
    </div>
    {{/each}}
</ul>
<h2>Create new Establishment:</h2>
<button><a href="/establishments/new">Create establishment</a></button>
{{!-- <ul>
    {{#each bands}}
    <div class="event-card">
        <p><a href="bands/{{_id}}">{{name}}</a></p>
    </div>
    {{/each}}
</ul> --}}
<section class="bandJoin-section">
    <div>
        {{#each establishment}}
        {{> bandJoin this}}
        {{/each}}
    </div>
</section>