<div class="cards-container">
    {{#if userFound.establishment.name}}
    <h3>If you want to modify your establishment before you should leave the current one</h3>
    <a href="/user/profile">Profile</a>
    {{else}}
    <h3>If you haven't created your establishment, click below</h3>
    <a href="/establishments/new">Create establishment</a>
    {{/if}}
    <form action="/establishments/:id" method="get" class="form-inline">
        <div class="form-group">
            <input type="text" name="search" placeholder="Establishments search..." class="form-control">
            <input type="submit" value="Search" class="btn btn-default">
        </div>
    </form>
    <h3>Basic View</h3>
    <h4>Establishments LIST</h4>

    <div class="card">
        <section class="events-section">
            <div class="event-cards">
                {{#each establishments}}
                <p>{{this.name}}</p>
                <a href="/establishments/{{this._id}}">See establishment details</a>
                {{/each}}
            </div>
        </section>

    </div>
</div>