<h1>{{title}}</h1>
<p>Welcome to {{title}} OK to PLAY!!</p>
<!-- Event Cards -->
{{#each events}}
<div class="event-card">
    <img class="event-card-img" src="" alt="default Event Image">
    <div class="event-card-details">
        <h3 class="card-title">{{this.name}}</h3>
        <p clas="card-event-description">{{this.description}}</p>
    </div>
</div>
{{/each}}