<div class="jumbotron">
    <div class="textarea-jumbotron">
        <div class="logo-picture">

            <img class="logo-img" src="/images/banner.png" alt="Logo Picture" />

        </div>
        <div class="headline">
            <h4>The App Made for Music Lovers</h4>
        </div>
        <div class="brand-info">
            <p> Get to know all the events in Town</p>
            <p>Signup as a Band and you will be the next on stage</p>
            <p>Create Events as an establishment and get ready for live music</p>
        </div>
    </div>
</div>

<div>
    {{#if currentUser }}
    {{else}}
    <section class="register">
        <a class="register-button" href="/auth/login">Login</a>
        <a class="register-button" href="/auth/signup">Signup</a>
    </section>
    {{/if}}

</div>

<div class="container">

    <div class="home-upcoming-events">
        <h2>Upcoming Events</h2>
        {{!-- {{fecha}}   Si no se pasa a la vista no se puede utilizar --}}
    </div>
    {{!-- <div class="eventcard">
        <div class="places">
            <div class="boxplaces">
                <div class="placeinfo">
                    <div class="boxdate">
                        <div class="dateevent"></div>
                        <div class="datetime"></div>
                    </div>
                </div>
                <div class="placedetails">
                    <span class="adress"></span>
                    <span class="telephone"></span>
                </div>
            </div>
        </div>
    </div> --}}
    <div class="cards-container">
        {{#each events}}
        <div class="card2">
            {{> eventcard this}}
        </div>
        {{/each}}
    </div>
</div>