<div class="jumbotron">
    <div class="textarea-jumbotron">
        <div class="logo-picture">
            <img class="logo-img" src="../images/banner.png" alt="Logo Picture" />
        </div>
        <div class="headline">
            <h4>The App Made for Music Lovers</h4>
        </div>
        <div class="brand-info">
            <p> Get to know all the events in Town</p>
            <p>Signup as a Band and you will be the next on stage</p>
            <p>Create Events as an establishment and get ready for live music</p>
        </div>
    </div>
</div>
<section class="register">
    <a class="register-button" href="/auth/login">Login</a>
    <a class="register-button" href="/auth/signup">Signup</a>
</section>
<!-- Event Cards -->
{{!-- {{#each events}}
<div class="event-card">
    <img class="event-card-img" src="/images/default-img-events.png" alt="default Event Image">
    <div class="event-card-details">
        <p clas="card-event-description"><a href="events/{{_id}}">{{this.description}}</a></p>
    </div>
</div>
{{/each}} --}}

<section class="events-section">
    <h3>Upcoming Events:</h3>
        <div class="event-cards">
            {{#each events}}
            {{> eventcard this}}
            {{/each}}
        </div>

</section>