<h1>{{title}}</h1>
<p>Welcome to {{title}} OK to PLAY!!</p>
<!-- Event Cards -->
{{!-- {{#each events}}
<div class="event-card">
    <img class="event-card-img" src="/images/default-img-events.png" alt="default Event Image">
    <div class="event-card-details">
        <p clas="card-event-description"><a href="events/{{_id}}">{{this.description}}</a></p>
    </div>
</div>
{{/each}} --}}


<section class="events-section">
    <div>
        {{#each events}}
        {{> eventcard this}}
        {{/each}}
    </div>

</section>