<h1>{{title}}</h1>
<p>Welcome to {{title}} OK to PLAY!!</p>
<div class="login-div">
    <div>
        <button onclick="location.href='/auth/login'" type="button">Log in</button>
        <button onclick="location.href='/auth/signup'" type="button">Sign up</button>
    </div>
</div>