<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" />
  <script src="/javascripts/backbutton.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">

</head>

<body>

  <!-- Simulate a smartphone / tablet look -->
  {{!-- flash notifications --}}

  {{>messages }}



  {{!-- Navbar --}}
  {{#if currentUser }}
  {{>burguer}}
  {{/if}}

  <div class="mobile-container">
    {{{body}}}

    <button class="backbutton" onclick="goBack()"></button>
  </div>



  {{!-- footer  --}}
  <footer>
    <p>&copy; OkeyToPlay 2019</p>
  </footer>
  <script src="/javascripts/notifications.js"></script>
</body>

</html>