<div class="container">

  <div class="cont-title">
    <h2>My Events papito</h2>
    {{fecha}}
  </div>

  <div class="cards-container">
    {{#each events}}
    <div class="card2">
      {{> myevent }}
    </div>

    {{/each}}
  </div>
</div>