{{!-- const { checkFields, checkEmailAndPasswordNotEmpty } = require('../middlewares/auth'); --}}
<div>
  {{#if currentUser }}
  <p>{{ currentUser.username }}, Complete your PROFILE:</p>
  {{/if}}
</div>
<div>
  <h3>Select Your ROLE:</h3>
</div>
<div>
  <form id='profile-form' action='/user/profile' method='POST'>
    <input type="checkbox" id='profile-form-role1' name="role1" value="Groupie"> I'm a crazy groupie!!<br>
    <input type="checkbox" id='profile-form-role2' onclick='return bandForm();' name="role2" value="Band"> I'm in a
    Awesome Band!!<br>
    <input type="checkbox" id='profile-form-role3' onclick='return establishmentForm();' name="role3"
      value="Establishment"> I have a nice
    Music Club!!<br>
    <label for='telephone'>Phone Number <span>If you want to receive WhatsApp notifications!</span></label><br>
    <input type='tel' name='telephone' placeholder='Phone Number'><br>

    <div id='Band-form-profile' class="not-shown">
      <label for='band'>Band Name:</label><br>
      <input type='text' name='bandName' placeholder='Band Name'><br>
      <label for='band'>Musical Genre:</label><br>
      <input type='text' name='genre' placeholder='Genre'><br>
      <label for='band'>Description:</label><br>
      <input type='text' name='description' placeholder='Description'><br>
      <label for='band'>Website</label><br>
      <input type='text' name='website' placeholder='Website'><br>
      <label for='band'>Instagram:</label><br>
      <input type='text' name='instagram' placeholder='Instagram'><br>
      <label for='Instagram'>Facebook:</label><br>
      <input type='text' name='facebook' placeholder='facebook'><br>
      <label for='band'>Members:</label><br>
      <input type='text' name='member' placeholder='Band Name'><br>
    </div>
    <div id='Establishment-form-profile' class="not-shown">
      <label for='establishment'>Music Club:</label><br>
      <input type='text' name='establishmentName' placeholder='Music Club Name'><br>
    </div>
    {{!-- <label for='email'>Email:</label><br>
  <input type='email' name='email' id='email_id' placeholder='E-mail' required><br>
  <label for='password'>Password:</label><br>
  <input type='password' name='password' placeholder='********' required><br> --}}

    <button type='submit'>UPDATE</button>
  </form>
</div>

{{#if errorMessage}}
<div class='error-message'>{{ errorMessage }}</div>
{{/if}}

{{!-- document.getElementById("clicks").addEventListener("click", go); --}}
<script>

  function bandForm() {
    let bandFormClass = document.getElementById('Band-form-profile');
    let bandRoleCheck = document.getElementById('profile-form-role2');
    if (bandRoleCheck.checked) {
      bandFormClass.classList.remove('not-shown');
      return true;
    } else {
      bandFormClass.classList.add('not-shown');
      return true;
    }
  }
  function establishmentForm() {
    let EstablishmentFormClass = document.getElementById('Establishment-form-profile');
    let EstablishmentRoleCheck = document.getElementById('profile-form-role3');
    if (EstablishmentRoleCheck.checked) {
      EstablishmentFormClass.classList.remove('not-shown');
      return true;
    } else {
      EstablishmentFormClass.classList.add('not-shown');
      return true;
    }
  }

</script>