<div>
  <h3>Wellcome {{user.username}}</h3>
  <button onclick="location.href='/user/profile/edit-user'">Edit Profile</button>

  {{#if user.band.name}}
  <div>
    <h3><img src="../images/band.png" alt="" style="height: 25px"> You're the {{user.band.name}} Band</h3>
    <button onclick="location.href='/user/profile/edit-band'">Update</button>
    <button onclick="location.href='/user/profile/delete-band'">Delete</button>
  </div>
  {{/if}}

  {{#if user.establishment.name}}
  <div>
    <h3><img src="../images/local.png" alt="" style="height: 25px"> {{user.establishment.name}} is your establishment
    </h3>
    <button onclick="location.href='/user/profile/edit-establishment'">Update</button>
    <button onclick="location.href='/user/profile/delete-establishment'">Delete</button>
  </div>
  {{/if}}

</div>