<div class="cont">

  {{#if user}}
  {{>profileUser}}
  {{/if}}

  {{#if user.establishment.name}}
  {{>profileestablishment}}
  {{/if}}


  {{#if user.band.name}}
  {{>profileband}}
  {{/if}}

  {{!-- <h3>Edit my profile here: </h3><a href="/user/profile/edit-user">Edit profile</a> --}}

  <div class="profile-cont">
    <h3>Manage my petitions here: </h3>
    <div class="edit-petitions">
      <a href="/user/profile/petitions">Edit petitions</a>
    </div>
  </div>
</div>