<h2>AVATAR - UPLOAD PHOTO </h2>

<img src="{{user.band.avatar}}" alt="" width="300px" height="300px" class="circle center-align">
<p>{{user.band.name}}</p>

<form action="/bands/avatar/avatar-upload" enctype="multipart/form-data" method="post">
    <!-- Field to choose the files to be uploaded -->
    <div class="btn">
        <span>File</span>
        <input type="file" name="upload" multiple />
    </div>
    <div class="file-path-wrapper">
        <input class="file-path validate" type="text" placeholder="Upload one or more files">
    </div>
    <br>
    <div class="col s12 m4 l4">
        <button class="btn waves-effect waves-light" type="submit" name="action">UPLOAD IMAGE</button>
    </div>

</form>