@charset "UTF-8";
/*JUMBOTRON*/
.jumbotron {
  padding-bottom: 45%;
  padding-top: 25%;
  background: url(/images/guitar-black.png) repeat scroll 50% 550px transparent; }

.textarea-jumbotron {
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

.headline-home {
  display: inline;
  margin-top: 50px;
  color: white; }

.headline-home h1 {
  margin: 0;
  text-align: center; }

.brand-info {
  color: white;
  margin-top: 40px;
  text-align: center;
  font-size: 18px;
  font-weight: bold; }

/*LOGIN/SIGNUP*/
.register {
  display: flex;
  flex-direction: column;
  align-items: center; }

.register-button {
  border: 3px solid #28b8dc;
  width: 85%;
  margin-top: 10px;
  margin-bottom: 0px;
  text-transform: uppercase;
  color: #67676f;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none; }

/*HOMEPAGE ROLES DESCRIPTION*/
.intro-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #67676f; }

.home-features {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }

.home-features p {
  color: #8d8d8d;
  margin: 0;
  width: 70%;
  margin: 5px; }

.home-features h3 {
  margin-top: 5px;
  margin-bottom: 0px; }

.role-img-home {
  width: 80px;
  height: auto;
  margin-top: 20px; }

.intro-text h2 {
  color: black;
  font-size: 22px; }

/*UPCOMING EVENTS*/
.home-upcoming-events {
  display: flex;
  flex-direction: column;
  align-items: center; }

* {
  margin: 0;
  padding: 0; }

a {
  color: #222;
  text-decoration: none; }

ul,
ol,
li {
  list-style: outside none none; }

header {
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #353535 0%, #060708 100%) repeat scroll 0 0;
  box-shadow: 0 0 10px 0 #28b8dc; }

header h6 {
  float: left;
  padding: 0 0 0.2em; }

header h6#logo img {
  height: 40px;
  margin-left: 0.5em; }

.control-menu {
  background-color: transparent;
  background-position: center center;
  display: block;
  float: right;
  height: 40px;
  margin-right: 1.3em;
  width: 40px; }

.control-menu a span {
  display: inline-block;
  height: 40px;
  text-indent: -9999px;
  width: 40px; }

.control-menu .close {
  background-image: url("/images/close-menu.png");
  background-position: center center;
  background-repeat: no-repeat;
  display: none; }

.control-menu .open {
  background-image: url("/images/open-menu.png");
  background-position: center center;
  background-repeat: no-repeat;
  display: block; }

/* //trans. desplegable */
ul.nav-items {
  clear: both;
  height: 0;
  overflow: hidden;
  transition: height 0.4s ease-in-out 0s, background-color 2s ease 0s;
  /*El menú cambia su altura y su color de fondo mediante una transición suavizada al voover a su estado unicial*/ }

#navigation:target ul.nav-items {
  background: #f0f0f0 none repeat scroll 0 0;
  height: 15.8em;
  transition: height 0.4s ease-in-out 0s, background-color 0.9s ease 0s;
  /*El menú cambia su altura y su color de fondo mediante una transición suavizada al abrirse*/ }

.close {
  display: none; }

#navigation:target .open {
  display: none; }

#navigation:target .close {
  display: block; }

/*Estilos menu*/
ul.nav-items li {
  display: block; }

ul.nav-items a {
  border-top: 2px groove #dddbdb;
  color: #333;
  display: block;
  height: 3em;
  line-height: 3em;
  margin: 0 1.3em; }

ul.nav-items li:first-child a {
  border-top: 2px solid transparent; }

ul.nav-items li a span {
  border-left: 3px solid;
  height: 3.2em;
  padding: 0.4em 0.5em;
  border-color: #28dc97; }

.events-section {
  margin: 10px; }

.cards-container a {
  text-decoration-line: none; }

.card {
  margin: 5px;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.055);
  display: flex;
  flex-wrap: wrap;
  align-items: center; }

.card2 {
  margin: 5px;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.055);
  display: flex;
  justify-content: space-between;
  align-items: center; }

.bttn {
  width: 50%;
  margin: 0 auto;
  background-color: #53cace;
  border: none;
  text-transform: uppercase;
  color: white;
  padding: 5px 15px;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  box-shadow: 3px 3px 3px gray; }

.event-card {
  border: 1px solid blue;
  margin: 5px; }

ul {
  padding: 0; }

.cont-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.cont-block-img {
  width: 25%; }

img.card-Band-img-top {
  max-width: 100%; }

.cont-block-data {
  width: 70%;
  padding-left: 5px;
  box-sizing: border-box; }

.card-title {
  margin: 0;
  display: inline;
  font-size: 14px;
  box-sizing: border-box;
  font-weight: bold;
  color: coral; }

.card-title-data {
  font-size: 14px;
  font-weight: bold;
  /* width: 198px; */
  box-sizing: border-box;
  /* width: 200px; */
  display: inline; }

#form {
  margin-top: 20%;
  width: 100%; }

.form-style .auth {
  margin-top: 25%; }

.form-style [type='text'] {
  display: block;
  margin: 0 auto;
  padding-left: 25px;
  width: 70%;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  line-height: 21px;
  margin-bottom: 15px;
  font-size: 1em;
  color: #67676f; }

.form-style [type='email'] {
  display: block;
  margin: 0 auto;
  padding-left: 25px;
  width: 70%;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  line-height: 21px;
  margin-bottom: 15px;
  font-size: 1em;
  color: #67676f; }

.form-style [type='password'] {
  display: block;
  margin: 0 auto;
  padding-left: 25px;
  width: 70%;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  line-height: 21px;
  margin-bottom: 15px;
  font-size: 1em;
  color: #67676f; }

.form-style [type='submit'] {
  margin: 0 auto;
  margin-bottom: 20%;
  display: block;
  border: 0;
  background-color: #28b8dc;
  border-radius: 5px;
  padding: 10px 25px;
  text-transform: uppercase;
  color: white;
  font-size: 1em; }

.form-style [type='datetime-local'] {
  margin: 10%;
  width: 60%;
  border: 0;
  border-radius: 15px;
  padding: 0px 40px 0px 40px;
  color: #6d6d6d; }

.form-style [type='text']:focus {
  outline: none;
  border-color: #28b8dc; }

.form-style [type='email']:focus {
  outline: none;
  border-color: #28b8dc; }

.form-style [type='password']:focus {
  outline: none;
  border-color: #28b8dc; }

.form-style p {
  color: rgba(15, 255, 175, 0.6);
  font-size: 1.2em;
  margin: 50px 0 50px 0; }

.form-style span:hover {
  color: #28b8dc; }

button.btn-delete-account {
  margin: 8%;
  width: 80%;
  background-color: #e35858;
  border: none;
  text-transform: uppercase;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 14px; }

.cont-title {
  padding-bottom: 15px; }

.cont-title h2 {
  margin: 0;
  margin-bottom: 5px; }

input[type='date'] {
  display: block;
  margin: 0 auto;
  width: 80%;
  border: 0;
  height: 45px;
  line-height: 45px;
  margin-bottom: 30px;
  font-size: 1em;
  color: #67676f;
  border: 1px solid #28b8dc;
  text-align: center; }

.backbutton {
  bottom: 45px;
  position: sticky;
  background: url(/images/back-arrow-24.png);
  background-repeat: no-repeat;
  border-radius: 50%;
  padding: 13px;
  float: left; }

/*BANDS*/
.note-bandmembers {
  background-color: rgba(0, 0, 0, 0.055);
  font-size: 10px; }

/*BANDS SHOW*/
.band-avatar {
  max-width: 85%;
  max-height: 250px;
  margin-bottom: 20px; }

.band-avatar img {
  width: 100%;
  height: auto; }

.band-info {
  display: flex;
  flex-direction: column;
  align-items: center; }

.band-title {
  font-size: 35px;
  width: 80%;
  text-align: center;
  margin: 0; }

.band-description {
  color: #67676f;
  width: 80%;
  text-align: center; }

.band-genre {
  color: #8d8d8d; }

.band-genre span {
  color: #28b8dc; }

.external-icons {
  width: 40%;
  display: flex;
  justify-content: space-between; }

.bandmembers {
  color: #67676f;
  width: 80%;
  text-align: left; }

.bandmembers li {
  list-style-type: none;
  text-align: center; }

/*BANDS PETITIONS*/
.sent-petition {
  background-color: rgba(0, 0, 0, 0.055);
  font-size: 10px; }

.send-petition {
  color: #67676f;
  width: 80%;
  display: flex;
  justify-content: center; }

.petition {
  background-color: rgba(0, 0, 0, 0.055);
  display: flex;
  flex-direction: column;
  align-items: center; }

.petition-button {
  border: 2px solid #28b8dc;
  width: 85%;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #67676f;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  background-color: white; }

.fecha {
  margin: 0 auto;
  padding-right: 20px;
  display: inline-block;
  float: right; }

.cards-container-user h3 {
  margin: 0;
  padding-left: 20px; }

.img-wrapper-establishment {
  text-align: center; }

img.user-establishment-img {
  width: 35px; }

.user-establishment h3 {
  margin: 0; }

.title-mng {
  margin: auto;
  margin-bottom: 10px; }

.bttn-card {
  display: flex;
  justify-content: space-evenly; }

a.card {
  text-decoration: none;
  color: black;
  background-color: aqua; }

.bttn-card {
  width: 100%; }

a.btn-lnk {
  width: 78px;
  text-align: center;
  padding: 5px 15px;
  margin: 5px 15px;
  text-decoration: none;
  border: 1px solid black;
  color: black; }

a.btn-lnk.est {
  width: 100px; }

a.btn-lnk:visited {
  color: black; }

.user-establishment a {
  text-decoration: none;
  color: blue; }

* body {
  margin: 0;
  height: 100%;
  color: #412e2a;
  font-family: 'Rubik', sans-serif;
  font-size: 14px; }

.container {
  padding: 5%; }

.not-shown {
  display: none; }

.mobile-container {
  box-sizing: border-box; }

.bbtn {
  margin: 10%;
  width: 80%;
  border: 0;
  background-color: #53cace;
  border-radius: 5px;
  text-transform: uppercase;
  color: white; }

footer {
  bottom: 0;
  position: fixed;
  background-color: #67676f;
  color: white;
  width: 100%; }

h1 {
  font-size: 45px; }

h2 {
  font-size: 22px;
  font-family: 'Quicksand', sans-serif; }

.error {
  width: 50%;
  margin: 20%; }

/*# sourceMappingURL=style.css.map */