/*JUMBOTRON*/
.jumbotron {
  background: linear-gradient(54deg, rgba(184, 35, 35, 0.938) 34%, rgba(228, 156, 63, 0.95));
  padding-bottom: 10%;
  padding-top: 25%; }

.logo-picture {
  display: flex;
  justify-content: center;
  padding-top: 10px; }

.textarea-jumbotron {
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

.headline {
  display: inline;
  margin-top: 50px;
  color: white; }

.brand-info {
  color: white;
  margin-top: 10px;
  text-align: center; }

.logo-img {
  width: 100%; }

h1 {
  margin: 0;
  text-align: center; }

h4 {
  margin: 0;
  text-align: center;
  margin-top: 5px; }

/*Login/Signup Buttons 1*/
.register {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.register-button {
  box-shadow: 3px 3px 3px gray;
  width: 60%;
  margin: 10px;
  border: none;
  text-transform: uppercase;
  color: #007e71;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 14px; }

.bttn2 {
  background-color: #3d5556;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  box-shadow: 3px 3px 3px gray; }

.bttn3 {
  background-color: #53cace;
  border: none;
  color: white;
  text-transform: uppercase;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  box-shadow: 3px 3px 3px gray; }

/* Style the navigation bar */
.navbar {
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
  align-items: center;
  background-color: white; }

/* Navbar links */
/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: white;
  color: #ea9b23; }

#navbar-logo {
  width: 35px;
  height: 35px;
  background-image: url(/images/logo.png);
  background-repeat: no-repeat;
  background-size: contain; }

.logout {
  color: red;
  text-decoration: none;
  text-transform: uppercase; }

.events-section {
  margin: 10px; }

.cards-container a {
  text-decoration-line: none; }

.card {
  margin: 5px;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.055);
  display: flex;
  align-items: center; }

.card2 {
  margin: 5px;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.055);
  display: flex;
  justify-content: space-between;
  align-items: center; }

.bttn {
  width: 50%;
  margin: 0 auto;
  background-color: #53cace;
  border: none;
  text-transform: uppercase;
  color: white;
  padding: 5px 15px;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  box-shadow: 3px 3px 3px gray; }

.event-card {
  border: 1px solid blue;
  margin: 5px; }

ul {
  padding: 0; }

.cont-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.cont-block-img {
  width: 25%; }

img.card-Band-img-top {
  max-width: 100%; }

.cont-block-data {
  width: 70%;
  padding-left: 5px;
  box-sizing: border-box; }

.card-title {
  margin: 0;
  display: inline;
  font-size: 14px;
  box-sizing: border-box;
  font-weight: bold;
  color: coral; }

.card-title-data {
  font-size: 14px;
  font-weight: bold;
  /* width: 198px; */
  box-sizing: border-box;
  /* width: 200px; */
  display: inline; }

.form-style .auth {
  margin-top: 25%; }

.form-style [type='text'] {
  display: block;
  margin: 0 auto;
  padding-left: 25px;
  width: 70%;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  line-height: 21px;
  margin-bottom: 15px;
  font-size: 1em;
  color: #67676f; }

.form-style [type='email'] {
  display: block;
  margin: 0 auto;
  padding-left: 25px;
  width: 70%;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  line-height: 21px;
  margin-bottom: 15px;
  font-size: 1em;
  color: #67676f; }

.form-style [type='password'] {
  display: block;
  margin: 0 auto;
  padding-left: 25px;
  width: 70%;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  line-height: 21px;
  margin-bottom: 15px;
  font-size: 1em;
  color: #67676f; }

.form-style [type='submit'] {
  margin: 0 auto;
  margin-bottom: 20%;
  display: block;
  border: 0;
  background-color: #28b8dc;
  border-radius: 5px;
  padding: 10px 25px;
  text-transform: uppercase;
  color: white;
  font-size: 1em; }

.form-style [type='datetime-local'] {
  margin: 10%;
  width: 60%;
  border: 0;
  border-radius: 15px;
  padding: 0px 40px 0px 40px;
  color: #6d6d6d; }

.form-style [type='text']:focus {
  outline: none;
  border-color: #28b8dc; }

.form-style [type='email']:focus {
  outline: none;
  border-color: #28b8dc; }

.form-style [type='password']:focus {
  outline: none;
  border-color: #28b8dc; }

.form-style p {
  color: rgba(15, 255, 175, 0.6);
  font-size: 1.2em;
  margin: 50px 0 50px 0; }

.form-style span:hover {
  color: #28b8dc; }

button.btn-delete-account {
  margin: 8%;
  width: 80%;
  background-color: #e35858;
  border: none;
  text-transform: uppercase;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 14px; }

.cont-title {
  padding-bottom: 15px; }

.cont-title h2 {
  margin: 0;
  margin-bottom: 5px; }

input[type='date'] {
  display: block;
  margin: 0 auto;
  width: 80%;
  border: 0;
  height: 45px;
  line-height: 45px;
  margin-bottom: 30px;
  font-size: 1em;
  color: #67676f;
  border: 1px solid #28b8dc;
  text-align: center; }

* body {
  margin: 0;
  height: 100%;
  color: #412e2a;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif; }

.container {
  padding: 5%; }

.not-shown {
  display: none; }

.mobile-container {
  box-sizing: border-box; }

.backbutton {
  bottom: 45px;
  position: sticky;
  background-color: purple;
  border-radius: 20%;
  padding: 5px;
  color: white;
  float: left; }

.bbtn {
  margin: 10%;
  width: 80%;
  border: 0;
  background-color: #53cace;
  border-radius: 5px;
  text-transform: uppercase;
  color: white; }

footer {
  bottom: 0;
  position: fixed;
  background-color: #67676f;
  color: white;
  width: 100%; }

/*# sourceMappingURL=style.css.map */