/*BANDS*/
.note-establishments {
  // background-color: rgba(0, 0, 0, 0.055);
  font-size: 10px;
  margin: 5px;
}
.create-establishment {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.create-establishment p {
  width: 50%;
  margin: 14px 16px;
}
.create-establishment span {
  text-transform: capitalize;
}
.establishmentslist {
//   display: flex;
//   flex-direction: column;
//   align-content: center;
}
