.events-section {
  margin: 10px;
}
.cards-container a {
  text-decoration-line: none;
}
.card {
  margin: 5px;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.055);
  display: flex;
  align-items: center;
}
.card2 {
  margin: 5px;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.055);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
// rgb(36, 162, 235); boton color azul
.bttn {
  width: 80%;
  margin: 15px 10px 20px 30px;
  background-color: #53cace;
  border: none;
  text-transform: uppercase;
  color: white;
  padding: 10px;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  box-shadow: 3px 3px 3px gray;
}

// .card-Band-img-top {
//   height: 100px;
//   padding-right: 10px;
//   // background-color: aqua;
// }

.card-title {
  float: left;
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 14px;
}

.event-card {
  border: 1px solid blue;
  margin: 5px;
}
ul {
  padding: 0;
}
.cont-block {
  display: flex;
  justify-content: space-between;
}

.cont-block-img {
  width: 25%;
}

img.card-Band-img-top {
  max-width: 100%;
}
