/*BAND CARDS*/
.band-cards-container a {
  text-decoration-line: none;
}
.band-cards {
  margin: 5px;
  padding: 10px;
  // background-color: rgba(0, 0, 0, 0.055);
  border: 1px solid #e8ecec;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.band-cards h3 {
  margin: 0px;
}
.band-cards p {
  font-size: 12px;
  color: #8d8d8d;
}
.btn-band-details {
  border: 3px solid #28b8dc;
  font-size: 12px;
  width: 30%;
  color: #67676f;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
}
// .logo-band-min {
//   width: 30%;
//   height: auto;
//   max-height: 50px;
// }
/*NOSE DE DONDE SALE*/

.bttn {
  width: 50%;
  margin: 0 auto;
  background-color: #53cace;
  border: none;
  text-transform: uppercase;
  color: white;
  padding: 5px 15px;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  box-shadow: 3px 3px 3px gray;
}

// .card-Band-img-top {
//   height: 100px;
//   padding-right: 10px;
//   // background-color: aqua;
// }

// .card-title {
//   float: left;
//   margin-top: 0;
//   margin-bottom: 10px;
//   margin-left: 10px;
//   font-size: 14px;
// }

.event-card {
  border: 1px solid blue;
  margin: 5px;
}
ul {
  padding: 0;
}
.cont-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cont-block-img {
  width: 25%;
}

img.card-Band-img-top {
  max-width: 100%;
}

.cont-block-data {
  width: 70%;
  padding-left: 5px;
  box-sizing: border-box;
}

.card-title {
  margin: 0;
  display: inline;
  font-size: 14px;
  box-sizing: border-box;
  font-weight: bold;
  color: coral;
}

.card-title-data {
  font-size: 14px;
  font-weight: bold;
  /* width: 198px; */
  box-sizing: border-box;
  /* width: 200px; */
  display: inline;
}
