/*JUMBOTRON*/
.jumbotron {
  // background: linear-gradient(
  //   54deg,
  //   rgba(184, 35, 35, 0.938) 34%,
  //   hsla(34, 75%, 57%, 0.95)
  // );
  padding-bottom: 45%;
  padding-top: 25%;
  background: url(/images/guitar-black.png);
}
.logo-picture {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.textarea-jumbotron {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.headline {
  display: inline;
  margin-top: 50px;
  color: white;
}
.brand-info {
  color: white;
  margin-top: 40px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
.logo-img {
  width: 100%;
}

h1 {
  margin: 0;
  text-align: center;
}
h4 {
  margin: 0;
  text-align: center;
  margin-top: 5px;
}

/*Login/Signup Buttons 1*/
.register {
  // margin-top: 20px;
  // width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register-button {
  // box-shadow: 3px 3px 3px gray;
  border: 3px solid #28b8dc;
  width: 85%;
  margin-top: 10px;
  margin-bottom: 0px;
  // border: none;
  text-transform: uppercase;
  color: #67676f;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
}
// .register-button a {
//   color: rgb(175, 5, 5);
// }
// rgb(0, 126, 113)verde;(0, 86, 126)azul;
