/*JUMBOTRON*/
.jumbotron {
  padding-bottom: 45%;
  padding-top: 25%;
  background: url(/images/guitar-black.png) repeat scroll 50% 550px transparent;
  // background: linear-gradient(
  //   54deg,
  //   rgba(184, 35, 35, 0.938) 34%,
  //   hsla(34, 75%, 57%, 0.95)
  // );
}
// .logo-picture {
//   display: flex;
//   justify-content: center;
//   padding-top: 10px;
// }
.textarea-jumbotron {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.headline-home {
  display: inline;
  margin-top: 50px;
  color: white;
}
.headline-home h1 {
  margin: 0;
  text-align: center;
}
.brand-info {
  color: white;
  margin-top: 40px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

/*LOGIN/SIGNUP*/
.register {
  // margin-top: 20px;
  // width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register-button {
  // box-shadow: 3px 3px 3px gray;
  border: 3px solid #28b8dc;
  width: 85%;
  margin-top: 10px;
  margin-bottom: 0px;
  // border: none;
  text-transform: uppercase;
  color: #000000;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
}

/*HOMEPAGE ROLES DESCRIPTION*/
.intro-text {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  text-align: center;
  color: #000000;
}
.home-features {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.home-features p {
  color: #000000;
  margin: 0;
  width: 70%;
  margin: 5px;
}
.home-features h3 {
  margin-top: 5px;
  margin-bottom: 0px;
}
.role-img-home {
  width: 80px;
  height: auto;
  margin-top: 20px;
}

.intro-text h2 {
  color: black;
  font-size: 22px;
}
/*UPCOMING EVENTS*/
.home-upcoming-events {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
}
.home-container h2 {
  font-family: 'Quicksand', sans-serif;
}
