#form {
  width: 380px;
}

#form label {
  color: gray;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

#form input,
#form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  margin-left: 15px;
  padding: 10px;
  width: 90%;
}

#form button {
  width: 80%;
  margin: 15px 10px 20px 30px;
  background-color: rgb(235, 155, 36);
  border: none;
  text-transform: uppercase;
  color: white;
  padding: 10px;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
}

#form button:hover {
  background: #fff;
  color: #43a3e6;
  transition: 0.3s ease background;
}
.register {
  height: 110px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
