/* Style the navigation bar */
.navbar {
  // background-color: rgb(255, 255, 255);
  overflow: auto;
  display: flex;
  justify-content: space-around;
  // padding: 5px 5px 50px 5px;
  // margin-bottom: 50px;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: right;
  padding: 20px;
  color: gray;
  text-decoration: none;
  font-size: 15px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(234, 155, 35);
}

#navbar-logo {
  padding-right: 60px;
  margin-right: 60px;
}

#navbar-logo {
  background-image: url('../images/logo.png');
  background-repeat: no-repeat;
  height: 50px;
  background-size: contain;
  margin: 15px;
}
