.profile-cont {
  // background-color: #5896a51c;
  // margin: 5px;
  // padding: 5px;
  padding: 10px 15px;
  background-color: #53cace65;
  margin: 5px;
}
.box-sup {
  display: flex;
  justify-content: space-between;
}
.img-profile img {
  // width: 70px;
  width: 60px;
  text-align: center;
}
.box-info {
  padding-top: 5px;
  text-transform: capitalize;
}
.box-inf {
  display: flex;
  justify-content: space-around;
  padding: 10px 0px;
}
.box-inf a {
  background: #28b8dc;
  size: 0.5em;
  color: white;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
}
.delete-profile a {
  background: #dc2828bd;
}
.edit-petitions {
  text-align: center;
}
.edit-petitions a {
  background: #28dc64;
  size: 0.5em;
  color: white;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
  text-align: end;
}

.img-profile {
  width: 50%;
  text-align: center;
}

.wrapper-box {
  margin: 3px 0 0 0;
}

.prrofile-btn {
  margin: 20px 0;
}
