<h2>Bookedevents</h2>
<p> eventos a los que estoy inscrito</p>

<div class="">
  {{#each events}}
  {{> book }}
  {{/each}}
</div>


{{#if errorMessage}}
<div class='error-message'>{{ errorMessage }}</div>
{{/if}}