<h2>Bookedevents</h2>
<div class="">
  {{#each events}}
  {{> book }}
  {{/each}}
</div>
<p> vista bookedevents rere</p>


{{#if errorMessage}}
<div class='error-message'>{{ errorMessage }}</div>
{{/if}}