<div class="container">

  <div class="cont-title">
    <h2>Booked Events</h2>
    {{fecha}}
  </div>

  <div class="cards-container">
    {{#each events}}
    {{> establishmentEventCard}}
    {{/each}}
    <p>{{this.band.name}}</p>

  </div>
</div>



{{#if errorMessage}}
<div class='error-message'>{{ errorMessage }}</div>
{{/if}}