<div class="container">
  <div class="cont-title">
    <h2>Create Event</h2>
  </div>

  <div class="form-style">
    <form id='profile-form' action="/user/events/new" method="POST">

      <label for="schedule"></label>
      <input type="date" name="schedule" step='1' min='{{fechaActual}}' value='{{fechaActual}}'>
      <label for="name"></label>
      <input type="text" name='name' placeholder="Name" required>
      <label for="description"></label>
      {{!-- <input type="text" name='description' placeholder="Description" required> --}}
      <label for="price"></label>
      <input type="text" name='price' placeholder="Price €€€">
      <label for="startTime"></label>
      <input type="text" name='startTime' placeholder="Start Time">
      <label for="durationMins"></label>
      <input type="text" name='durationMins' placeholder="Duration">

      <button type="submit">Create event</button>
    </form>

  </div>

</div>


{{#if errorMessage}}
<div class='error-message'>{{ errorMessage }}</div>
{{/if}}