<div class="container">
  <div class="cont-title">
    <h2>Create Event</h2>
  </div>

  <div class="form-style">
    <form id='profile-form' action="/user/events/new" method="POST">
      <div>
        <label for="name"></label><br>
        <input type="text" name='name' placeholder="Name" required><br>
        <label for="description"></label><br>
        <input type="text" name='description' placeholder="Description" required><br>
        <label for="price"></label><br>
        <input type="text" name='price' placeholder="Price €€€"><br>
        <label for="durationMins"></label><br>
        <input type="text" name='durationMins' placeholder="Duration"><br>
        <label for="schedule"></label><br>
        <input type="datetime-local" name="schedule" step='1' min='{{fechaActual}}' value='{{fechaActual}}'>
      </div>
      <button type="submit">Create event</button>
    </form>
  </div>
</div>

</div>


{{#if errorMessage}}
<div class='error-message'>{{ errorMessage }}</div>
{{/if}}