<div class="container">
  <div class="cont-title">
    <h2>Create Band</h2>
  </div>

  <div class="form-style">
    <form id='profile-form' action='/bands/new' method='POST'>
      <div id='Band-form-profile'>
        <label for='band'></label>
        <input type='text' name='name' placeholder='Band Name'>
        <label for='band'></label>
        <input type='text' name='genre' placeholder='Genre'>
        <label for='band'></label>
        {{!-- <textarea type='text' name="description" rows="4" cols="10" placeholder="Description"></textarea> --}}
        {{!-- AQUI MOLA TEXT-AREA PERO FALTA CONCRETAR  Y TB PARA ESTABLSHMENT--}}
        <input type='text' name='description' placeholder='Description'>
        <label for='band'></label>
        <input type='text' name='website' placeholder='Website'>
        <label for='band'></label>
        <input type='text' name='instagramProfile' placeholder='Instagram'>
        <label for='band'></label>
        <input type='text' name='facebookProfile' placeholder='facebook'>
        <label for='band'></label>
      </div>

      <button type='submit'>Create</button>
    </form>
  </div>

</div>


{{#if errorMessage}}
<div class='error-message'>{{ errorMessage }}</div>
{{/if}}