<div class="container">
  <div class="cont-title">
    <h2>Create Band</h2>
  </div>

  <div class="form-style">
    <form id='profile-form' action='/bands/new' method='POST'>
      <div id='Band-form-profile'>
        <label for='band'></label><br>
        <input type='text' name='name' placeholder='Band Name'><br>
        <label for='band'></label><br>
        <input type='text' name='genre' placeholder='Genre'><br>
        <label for='band'></label><br>
        <input type='text' name='description' placeholder='Description'><br>
        <label for='band'></label><br>
        <input type='text' name='website' placeholder='Website'><br>
        <label for='band'></label><br>
        <input type='text' name='instagramProfile' placeholder='Instagram'><br>
        <label for='Instagram'></label><br>
        <input type='text' name='facebookProfile' placeholder='facebook'><br>
        <label for='band'></label><br>
        <input type='text' name='avatar' placeholder='Avatar Image'><br>
      </div>

      <button type='submit'>Create Band</button>
    </form>
  </div>

</div>


{{#if errorMessage}}
<div class='error-message'>{{ errorMessage }}</div>
{{/if}}