<div class="container">
    <div class="cont-title">
        <h2>Edit User</h2>
    </div>


    <div class="form-style">
        <form id='profile-form' action='/user/profile/edit-user' method='POST'>
            <label for='username'>Username:</label>
            <input type='text' name='username' value='{{user.username}}' required>
            <label for='email'>Email:</label>
            <input type='email' name='email' id='email_id' value='{{user.email}}' required>
            <button type='submit'>Update account</button>
        </form>

        <button class='btn-delete-account' onclick="location.href='/user/profile/edit-user/{{user._id}}/delete'"
            type="button">
            DELETE ACCOUNT</button>

        {{#if errorMessage}}
        <div class='error-message'>{{ errorMessage }}</div>
        {{/if}}


    </div>

</div>