<div class="avatar-upload">
    <h2>UPLOAD <a href="/bands/{{user.band.id}}"><span>{{user.band.name}}</span></a> AVATAR </h2>
    <div class="avatar-img">
        <img src="{{user.band.avatar}}" alt="">
    </div>
    <form action="/user/profile/edit-band-avatar" enctype="multipart/form-data" method="post">
        <!-- Field to choose the files to be uploaded -->
        <div class="file-upload">
            <p><span>File: </span>{{user.band.avatar}}</p>
            <input type="file" name="upload" for="band" />
        </div>
        {{!-- <div class="choose-files">
            <input class="" type="text">
        </div> --}}
        <br>
        <div class="upload-img">
            <button class="upload-img-btn" type="submit" name="avatar" for='band'>UPLOAD IMAGE</button>
        </div>
    </form>
</div>